<%= javascript_include_tag('date.format.js', :plugin => 'redmine_card') %>
<%= javascript_include_tag('card', :plugin => 'redmine_card') %>
<%= stylesheet_link_tag 'card', :media => "all", :plugin => 'redmine_card' %>


<input type="hidden" id="relativeUrl" value="<%= Redmine::Utils::relative_url_root %>"/>
<input type="hidden" id="apiKey" value="<%= @apiKey %>"/>

<form class="form-horizontal project-form" onsubmit="return false;">
	<div class="control-group">
		<label class="control-label" for="project">Project</label>
		<div class="controls">
			<select id="project"></select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="tracker">Tracker</label>
		<div class="controls">
			<select id="tracker">
        			<option value="">-</option>
		       		 <% @trackers.each do |tracker| %>
		  			<option value="<%=tracker.id %>"><%=tracker.name %></option>
				<% end %>
      			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="search-assigned">Assigned To</label>
		<div class="controls">
			<select id="search-assigned"></select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="date-since">Since</label>
		<div class="controls">
			<input  type="text" id="date-since" placeholder="YYYY-MM-dd"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="search-id">Id</label>
		<div class="controls">
			<input  type="text" id="search-id" placeholder="Ticket Id"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn submit1">Add Tickets</button>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn submit2">Clear & Load Tickets</button>
		</div>
	</div>
</form>

<div class="ticket ticket-modele">
	<span class="id"></span>
	<span class="subject"></span>
	<div class="line">
	        Status : <span class="status"></span>
	</div>
	<div class="line">
		Project : <span class="project"></span>
	</div>
	<div class="line">
		Author : <span class="author"></span>
	</div>
	<div class="line">
		Requester : <span class="demandeur"></span>
	</div>
	<div class="line">
		Category : <span class="category"></span>
	</div>
	<div class="line">
		Requested Date : <span class="requestedDate"></span>
	</div>
	<div class="line">
		Commited Date : <span class="commitedDate"></span>
	</div>
	<div class="line">
		Estimated Hour : <span class="estimatedHour"></span>
	</div>
	<div class="line">
		Spent Time : <span class="spendTime"></span>
	</div>
	<div class="linked">
		Linked : <span></span>
	</div>

</div>

<div id="tickets">


</div>
