<%= javascript_include_tag('date.format.js', :plugin => 'redmine_card') %>
<%= javascript_include_tag('card', :plugin => 'redmine_card') %>
<%= stylesheet_link_tag 'card',:media => "all", :plugin => 'redmine_card' %>


<input type="hidden" id="relativeUrl" value="<%= Redmine::Utils::relative_url_root %>"/>
<input type="hidden" id="apiKey" value="<%= @apiKey %>"/>

<form class="form-horizontal project-form" onsubmit="return false;">
	<div class="control-group">
		<label class="control-label" for="project">Project</label>
		<div class="controls">
			<select id="projet"></select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="search-assigned">Assigned To</label>
		<div class="controls">
			<select id="search-assigned"></select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="date-since">Since</label>
		<div class="controls">
			<input  type="text" id="date-since" placeholder="YYYY-MM-dd"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="search-id">Id</label>
		<div class="controls">
			<input  type="text" id="search-id" placeholder="Search By id"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn submit">Load</button>
		</div>
	</div>
</form>

<div class="ticket ticket-modele">
	<span class="id"></span>
	<span class="subject"></span>
	<div class="line">
		Author : <span class="author"></span>
	</div>
	<div class="line">
		Requester : <span class="demandeur"></span>
	</div>
	<div class="line">
		Category : <span class="category"></span>
	</div>
	<div class="line">
		Requested Date : <span class="requestedDate"></span>
	</div>
	<div class="line">
		Commited Date : <span class="commitedDate"></span>
	</div>
</div>

<div id="tickets">


</div>

